{% extends 'base.html.twig' %}

{% block title %}GAMR!{% endblock %}

{% block body %}
<div class="flex">
{#     <aside class="hidden md:block md:w-64 bg-gray-900 px-2 mb-0"> #}
{#         <h2 class="text-xl text-white font-semibold mb-6 px-2">Planets</h2> #}
{#          #}
{#     </aside> #}

    <section class="flex-1 mx-10">
        <div class="bg-gray-800 p-4 rounded my-10">
            <canvas class="w-full">
                
            </canvas>
        </div>
    </section>
</div>
{% endblock %}