<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Space Inviters!{% endblock %}</title>
        {% if app.environment != 'test' %}
            <meta name="view-transition">
        {% endif %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-black text-white font-mono">
        <div class="container mx-auto min-h-screen flex flex-col">
            {% include "_header.html.twig" %}

            <!-- Make sure the main tag takes up the remaining height -->
            <main class="flex-grow">{% block body %}{% endblock %}</main>

            <!-- Footer -->
            <footer class="py-4 bg-gray-800 text-center">
                <div class="text-sm">
                    With <svg class="inline-block w-4 h-4 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.22l-.61-.6a5.5 5.5 0 00-7.78 7.78l7.39 7.4 7.39-7.4a5.5 5.5 0 00-7.78-7.78l-.61.61z"/></svg> from Symfonycasts.
                </div>
            </footer>
        </div>
    </body>
</html>
